body {
    background: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

textarea {
    resize: none;
}


